label {
  display: block;
  padding: 20px 20px;
}

section {
  border-style: solid;
  border-radius: 10%;
  padding:60px;
  margin:20px 10px;
  padding-left: auto;
  padding-right: auto;
  background-color: white;
}

iframe {
  padding-left: auto;
  padding-right: auto;
}

.answer, .form {
  padding-top: 0;
}

h1,h2 {
  text-align: center;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

button:hover {
  background-color: grey;
}

button:active {
  width: 90%;
}
body {
  background-color: grey;
}

.file > input {
  width: 55%;
}

textarea {
  margin-top: 0;
  width: 100%
}

.source {
  margin-bottom: 0;
}


