<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF question answering app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>PDF question answering </h1>
    <section>
      <article>This is a placeholder for an explanation of what this app can do and how to use it. I will also add a YouTube video of how to generate OpenAI's API</article>
      <iframe width="300" height="300"
src="https://www.youtube.com/embed/_vEJ07K0VPs?controls=0">
      </iframe>
    </section>
    <section class="form">
      <h2>Form</h2>
      <form method="post" action="{{ url_for('home') }}" enctype="multipart/form-data" onsubmit="alert('Form submitted')">
       <label>Your OpenAI key: <input type="text" required name="apikey"></label>
       <label class="file">Your PDF file: <input type="file" name="file" accept=".pdf" required></label> 
        <button type="submit">submit</button>
      </form>
    </section>
    <section class="answer">
      <h2>Question and Answer</h2>
      <form method="post" action="{{ url_for('home') }}">
        <label>Question: <input type="text" name="question" required></label>
        <button type="submit">query</button>
      </form>
      <textarea row="6">{{ answer }}</textarea>
      <p>{{ answer }}</p>
    </section>
  </body>
</html>